.header {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 3rem;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(#000, 0.1);

  &__container {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 3rem;
    }
  }

  & .accountDetails {
    margin-left: auto;
  }
}
