.listItem {
  display: flex;
  align-items: stretch;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.24);

  &__content {
    flex: 1;
  }

  &__img {
    width: 30rem;
    height: auto;
  }

  &__tags {
    color: $color-secondary;
  }

  &__title {
    font-size: 2rem;
    color: $color-grey;
    font-family: $font-primary;
    font-weight: bold;
  }

  &__stats {
    display: flex;
    align-items: center;
    color: $color-grey;

    & > *:first-child {
      margin-right: 2rem;
    }
  }

  &__stat > *:first-child {
    margin-right: 0.5rem;
  }
  &__description {
  }
}
