$color-primary: #6badee;
$color-secondary: #00cccc;
$color-purple-light: #a29ff2;
$color-red: rgb(243, 91, 64);
$color-grey: #555;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
